@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bungee&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Coda:wght@400;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rokkitt:ital,wght@0,100;0,300;0,400;0,800;1,200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;600&display=swap");

:root {
  --color-dark: #1f1f38;
  --color-light: #f5f5f5;
  --color-shadow: #808080;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Poppins", Times, sans-serif;
}

html {
  overflow-y: scroll;
  height: 100%;
  background-color: var(--color-light);
}

section {
  margin: 70px 20px;
  padding-bottom: 10px;
  text-align: justify;
}
section > h1 {
  text-align: left;
  text-decoration: underline;
  text-shadow: 1px 1px 4px var(--color-shadow);
  font-size: 30px;
}
section h2 {
  text-align: left;
  text-decoration: underline;
  width: fit-content;
  text-shadow: 1px 1px 4px var(--color-shadow);
  font-size: 26px;
}
section h3 {
  text-align: left;
  text-decoration: underline;
  width: fit-content;
  text-shadow: 1px 1px 4px var(--color-shadow);
  font-size: 26px;
  font-weight: 800;
}
section h3:hover {
  cursor: pointer;
  color: var(--color-light);
  text-shadow: 1px 1px 2px var(--color-dark);
}
section h4 {
  text-align: center;
  width: fit-content;
  text-decoration: underline;
  text-shadow: 1px 1px 4px var(--color-shadow);
  font-size: 20px;
  font-weight: 800;
  padding-left: 20px;
}
section h4:hover {
  cursor: pointer;
}
article {
  display: none;
  width: 100%;
}

label {
  font-weight: 800;
}
input {
  padding: 4px;
  border: 1px solid var(--color-dark);
  border-radius: 5px;
}
select {
  padding: 4px;
  border: 1px solid var(--color-dark);
  border-radius: 5px;
  cursor: context-menu;
}
th {
  min-width: 26px;
  background-color: var(--color-dark);
  color: var(--color-light);
  border: 1px solid var(--color-dark);
  border-radius: 5px;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  cursor: default;
}
td {
  min-width: 26px;
  background-color: var(--color-light);
  border: 1px solid var(--color-dark);
  border-radius: 5px;
  text-align: center;
  font-size: 14px;
  cursor: default;
}
caption {
  background-color: var(--color-dark);
  color: var(--color-light);
  border-radius: 5px;
  text-align: center;
  cursor: default;
  margin: 2px;
}
span {
  color: #2596be;
  padding: 0 2px;
  font-weight: 400;
  font-size: 20px;
  font-family: "Rokkitt";
}
small {
  font-size: 12px;
  color: #808080;
}
#body {
  background-color: var(--color-light);
  margin: 60px 0 80px 0px;
  padding: 10px 20px 60px 20px;
  text-align: justify;
  height: 100%;
}

.list {
  margin-left: 25px;
}
.list li {
  margin-top: 5px;
}
.container {
  background-color: #d4c9c9;
  margin: 5px auto;
  border: 2px solid var(--color-dark);
  border-radius: 10px;
  width: 100%;
  padding: 5px;
}
.flex {
  display: flex;
  flex-direction: column;
}
.row {
  flex-direction: row;
}
.center {
  text-align: center;
}
.left {
  text-align: left;
  padding-left: 5px;
}
.pointer {
  cursor: pointer;
}
.pointer:hover {
  background-color: var(--color-dark);
  color: var(--color-light);
}
.grid2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}
.grid3 {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
}
.grid4 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 2px;
}
.grid5 {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr 1fr 2fr;
}
.grid7 {
  display: grid;
  grid-template-columns: 2fr 0.5fr 2fr 0.5fr 2fr 0.5fr 2fr;
}
.key-gen {
  gap: 2px;
}
#intro h5 {
  height: 100%;
  text-align: center;
  padding: 150px 50px;
  font-size: 40px;
  font-family: "coda";
  -webkit-animation: text-focus-in 2s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: text-focus-in 2s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}
#hybrid form {
  padding: 10px;
}
#hybrid legend {
  margin-left: 25px;
  padding: 5px;
}
#hybrid fieldset {
  border-radius: 10px;
  border: 2px solid var(--color-dark);
}
#hybrid form input[type="submit"] {
  margin-top: 10px;
  border: 1px solid var(--color-dark);
  border-radius: 5px;
  background-color: var(--color-dark);
  color: var(--color-light);
  font-size: 25px;
  font-weight: 800;
}
#hybrid form input[type="submit"]:hover {
  cursor: pointer;
  background-color: var(--color-light);
  color: var(--color-dark);
}
#hybrid img {
  width: 100%;
  border-radius: 10px;
  padding: 15px 5px 0 5px;
}
#hybrid .profile {
  width: 100%;
  text-align: center;
  padding: 0 10px;
}
#hybrid-conf {
  display: none;
}
#hybrid .profile-grid {
  display: grid;
  grid-template-columns: 1fr 7fr;
  gap: 10px;
}
#hybrid button {
  margin-top: 5px;
  border: 1px solid var(--color-dark);
  border-radius: 5px;
  background-color: var(--color-dark);
  color: var(--color-light);
  font-size: 18px;
  font-weight: 400;
}
#hybrid button:hover {
  cursor: pointer;
  background-color: var(--color-light);
  color: var(--color-dark);
}
#hybrid button:disabled {
  background-color: gray;
  color: var(--color-dark);
}
#hybrid textarea {
  padding: 4px;
  border: 1px solid var(--color-dark);
  border-radius: 5px;
  resize: none;
}
.break {
  word-break: break-all;
}
.pad5 {
  padding: 0 10px;
}
#utf8 form {
  padding: 10px;
}
#utf8 form input[type="submit"] {
  margin-top: 10px;
  border: 1px solid var(--color-dark);
  border-radius: 5px;
  background-color: var(--color-dark);
  color: var(--color-light);
  font-size: 25px;
  font-weight: 800;
}

#utf8 form input[type="submit"]:disabled {
  background-color: gray;
  color: var(--color-dark);
}
#utf8 form input[type="submit"]:disabled:hover {
  background-color: gray;
  color: var(--color-dark);
}
#utf8 form input[type="submit"]:hover {
  cursor: pointer;
  background-color: var(--color-light);
  color: var(--color-dark);
}
#utf8 textarea {
  padding: 4px;
  border: 1px solid var(--color-dark);
  border-radius: 5px;
  resize: none;
}
#utf8-result {
  display: none;
}
a:link,
a:visited {
  color: var(--color-dark);
}

a:link:active,
a:visited:active {
  color: var(--color-dark);
}
/**
 * ----------------------------------------
 * animation text-focus-in
 * ----------------------------------------
 */
@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
